@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Recursive";
    font-style: normal;
    font-weight: 300 800;
    font-display: swap;
    src: url("https://wr-static.sfo3.cdn.digitaloceanspaces.com/fonts/recursive/recursive-latin.woff2")
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: "Konsole";
    font-weight: 100 900;
    font-style: normal;
    src:
      local("Konsole"),
      url("https://wr-static.sfo3.cdn.digitaloceanspaces.com/fonts/konsole/Konsolev1.1-VF.woff2")
        format("woff2");
  }
  @font-face {
    font-family: "Inter Variable";
    font-weight: 100 900;
    font-style: normal;
    font-named-instance: "Regular";
    font-feature-settings: "ss04";
    src:
      local("Inter Variable"),
      url("https://wr-static.sfo3.cdn.digitaloceanspaces.com/fonts/inter/InterVariable.woff2")
        format("woff2");
  }
  @font-face {
    font-family: "Inter Variable";
    font-weight: 100 900;
    font-style: italic;
    font-named-instance: "Italic";
    font-feature-settings: "ss04";
    src:
      local("Inter Variable"),
      url("https://wr-static.sfo3.cdn.digitaloceanspaces.com/fonts/inter/InterVariable-Italic.woff2")
        format("woff2");
  }
  html {
    @apply flex size-full font-body;
  }

  body {
    @apply w-full overflow-hidden bg-earth-25 p-4 text-stone-700;
  }
}

@layer components {
  archive-now {
    @apply grid h-full gap-x-4 gap-y-3;
    grid-template-areas:
      "header"
      "archive"
      "detail";
    grid-template-rows: min-content 1fr theme(size.48);
    grid-template-columns: 1fr;
  }

  @media screen(lg) {
    archive-now {
      grid-template-areas:
        "header header"
        "archive detail";
      grid-template-rows: min-content 1fr;
      grid-template-columns: 1fr theme(size.80);
    }
  }

  @media screen(xl) {
    archive-now {
      @apply gap-x-10;
      grid-template-columns: 1fr theme(size.96);
    }
  }
}
