@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply flex size-full;
  }

  body {
    @apply w-full overflow-hidden bg-earth-25 p-4 text-stone-700;
  }
}

@layer components {
  archive-now {
    @apply grid h-full gap-4;
    grid-template-areas:
      "header"
      "archive"
      "detail";
    grid-template-rows: min-content 1fr theme(size.48);
    grid-template-columns: 1fr;
  }

  @media screen(lg) {
    archive-now {
      grid-template-areas:
        "header header"
        "archive detail";
      grid-template-rows: min-content 1fr;
      grid-template-columns: 1fr theme(size.80);
    }
  }

  @media screen(xl) {
    archive-now {
      grid-template-columns: 1fr theme(size.96);
    }
  }

  sl-button[variant="primary"]::part(base) {
    background-color: theme(colors.cyan.500);
  }
}
