<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, viewport-fit=cover" />
    <script src="awp-ui.js"></script>
    <style>
      html {
        width: 100%;
        height: 100%;
        display: flex;
      }

      body {
        width: 100%;
      }

      archive-now {
        display: flex;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <archive-now></archive-now>
  </body>
</html>
