<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, viewport-fit=cover" />
    <script src="awp-ui.js"></script>
  </head>
  <body>
    <archive-now></archive-now>
  </body>
</html>
