<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, viewport-fit=cover" />
  <link rel="preconnect" href="https://wr-static.sfo3.cdn.digitaloceanspaces.com/" />
  <script src="awp-ui.js"></script>
</head>

<body>
  <archive-now></archive-now>
</body>

</html>
