<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, viewport-fit=cover" />
  <meta name="description" content="Archive Now, a demo of Webrecorder’s web archiving tools" />
  <link rel="icon" type="image/svg+xml" href="https://webrecorder.net/favicon.svg" />
  <link rel="apple-touch-icon" type="image/svg+xml" href="https://webrecorder.net/apple-touch-icon.png" />
  <link rel="preconnect" href="https://wr-static.sfo3.cdn.digitaloceanspaces.com/" />
  <title>Archive Now • Webrecorder</title>
  <link rel="sitemap" href="https://webrecorder.net/sitemap-index.xml" />

  <meta property="og:image" content="https://webrecorder.net/_astro/og.BLv3EsOH.avif" />
  <meta property="og:image:alt" content="Webrecorder">
  <meta property="og:title" content="Archive Now • Webrecorder" />
  <meta property="og:url" content="https://webrecorder.net" />
  <meta property="og:description" content="Archive Now, a demo of Webrecorder’s web archiving tools" />
  <meta property="og:site_name" content="Webrecorder" />
  <meta property="og:type" content="website" />
  <!-- Twitter Tags -->
  <meta property="twitter:card" content="website" />
  <meta property="twitter:site" content="@webrecorder_io" />
  <meta property="twitter:description" content="Archive Now, a demo of Webrecorder’s web archiving tools" />
  <meta property="twitter:title" content="Archive Now • Webrecorder" />
  <meta property="twitter:image" content="https://webrecorder.net/_astro/og.BLv3EsOH.avif" />
  <meta property="twitter:image:alt" content="Webrecorder" />

  <meta name="theme-color" content="#4d7c0f" />

  <script src="awp-ui.js"></script>
</head>

<body>
  <archive-now></archive-now>
</body>

</html>
